.slick-slide {
    &:focus {
        outline: none;
    }
}

.slick-dots {
    text-align: center;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 0.625rem;

        &:last-child {
            margin-right: 0;
        }

        button {
            font-size: 0;
            border: 1px solid #bababa;
            background: $white;
            transition: ease 0.5s;
            padding: 0;
            height: 0.625rem;
            width: 0.625rem;
            border-radius: 50%;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }
    }

    .slick-active {
        button {
            background: #bababa;
            transition: ease 0.5s;
        }
    }
}

.slick-arrow {
    border: none;
    background: transparent;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
}

.slick-prev,
.slick-next {

    &:focus {
        outline: none;
    }
}

.slick-next {
    right: -2rem;
}

.slick-prev {
    left: -2rem;
}